<h1 class="text-center my-4">Log in to <strong>Exercise Tracker</strong></h1>

<%= render 'shared/flash', status: 'danger' %>

<div class="d-flex justify-content-center">
<%= form_with url: sessions_create_path do |f| %>
  <%= f.label :email%><br>
  <%= f.email_field :email%><br><br>

  <%= f.label :password%><br>
  <%= f.password_field :password%><br><br>

  <%= f.submit "Login" %>
<% end %>
</div>

<div class="d-flex justify-content-center mt-3">
<p>Not signed up? <%= link_to "Sign up here", users_new_path %></p>
</div>