<h1 class="mx-3 my-3">Edit your profile</h1>

<%= render 'shared/flash', status: 'warning' %>

<%= link_to "Back to your profile", profile_path, class: "mx-3" %>

<div class="d-flex justify-content-center my-4">
<%= form_with model: current_user, url: update_profile_path, method: :put do |f| %>
  <%= f.label :email %><br>
  <%= f.email_field :email %><br><br>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br><br>

  <%= f.label :phone_number %><br>
  <%= f.telephone_field :phone_number %><br><br>

  <%= f.label :profile_picture %><br>
  <%= f.file_field :profile_picture %><br><br>

  <%= f.submit "Update profile" %>
<% end %>
</div>