<h1 class="text-center my-4">Sign up to <strong>Exercise Tracker</strong></h1>

<% flash.each do |type, msg| %>
  <div class="w-25 alert alert-danger d-flex justify-content-center mx-auto my-2">
    <%= msg %>
  </div>
<% end %>

<div class="d-flex justify-content-center">
<%= form_with model: @user, url: users_create_path do |f| %>
  <%= f.label :email%><br>
  <%= f.email_field :email%><br><br>

  <%= f.label :password%><br>
  <%= f.password_field :password%><br><br>

  <%= f.label :password_confirmation%><br>
  <%= f.password_field :password_confirmation%><br><br>

  <%= f.submit "Sign up" %>
<% end %>
</div>