<%= render 'shared/flash', status: 'success' %>

<br>

<h1 class="mx-3">Welcome <%= current_user.email %></h1>

<% if current_user.profile_picture.attached? %>
  <br><%= image_tag current_user.profile_picture, alt: 'Profile picture', size: '240x240', class: "img-thumbnail mx-auto d-block my-4" %>
<% else %>
  <br><%= image_tag 'https://picsum.photos/240', alt: 'Profile picture', size: '240x240', class: "img-thumbnail mx-auto d-block my-4" %>
<% end %>

<%= link_to 'Profile', profile_path(current_user), class: "mx-3" %>

<h2 class="mx-3 my-3">Your exercises: </h2>

<%= link_to 'Quick stats', quick_stats_exercises_path, class: "mx-3" %> <br>

<%= link_to new_exercise_path, class: "btn btn-info mx-4 my-2" do %>
  New exercise <i class="bi bi-plus-circle-dotted"></i>
<% end %>

<% @exercises&.each do |e| %>
  <div class="card my-2 mx-1">
    <div class="card-header">
      Exercise
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= e.name %></h5>
      <p class="card-text"><%= e.calories %></p>
      <p class="card-text"><%= time_ago_in_words(e.updated_at) %> ago</p>

      <%= link_to e, class: "btn btn-primary" do %>
        Show <i class="bi bi-arrow-right-circle"></i>
      <% end %>

      <%= link_to edit_exercise_path(e), class: "btn btn-primary" do %>
        Edit <i class="bi bi-pencil"></i>
      <% end %>

      <%= link_to exercise_path(e), class: "btn btn-danger", data:{
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?'
        } do %>
        Delete <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>