<% flash.each do |type, msg| %>
    <div class="w-25 alert alert-success d-flex justify-content-center mx-3 my-3">
    <%= msg %>
  </div>
<% end %>

<br>

<h1 class="mx-3 my-3">Welcome</h1>

<h2 class="mx-3">Your exercises: </h2>

<%= link_to new_exercise_path, class: "btn btn-info mx-4 my-1" do %>
  New exercise <i class="bi bi-plus-circle-dotted"></i>
<% end %>

<% @exercises&.each do |e| %>
  <div class="card my-2 mx-1">
    <div class="card-header">
      Exercise
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= e.name %></h5>
      <p class="card-text"><%= e.calories %></p>

      <%= link_to e, class: "btn btn-primary" do %>
        Show <i class="bi bi-arrow-right-circle"></i>
      <% end %>

      <%= link_to edit_exercise_path(e), class: "btn btn-primary" do %>
        Edit <i class="bi bi-pencil"></i>
      <% end %>

      <%= link_to exercise_path(e), class: "btn btn-danger", data:{
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?'
        } do %>
        Delete <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>